<p id="notice"><%= notice %></p>

<h1>Listing Tweets</h1>
<table>
  <thead>
    <tr>
      <th>Message</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.message %></td>
        <td><%= tweet.user.first_name %>
        <td><%= link_to 'Show', user_tweet_path(@user, tweet) %></td>
        <td><%= link_to 'Edit', edit_user_tweet_path(@user.tweets, tweet) %></td>
        <td><%= link_to 'Destroy', user_tweet_path(@user, tweet), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_user_tweet_path(@user) %>
