<!DOCTYPE html>
<html>
<head>
  <title>TwitterWeekendProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

<div class='container'>
  <h1>Twitter</h1>
  <nav class='nav-format'>
    <%= link_to 'HOME', root_path %>
    <%= link_to "NEW TWEET FOR #{@default_user.profile_name}".upcase, new_user_tweet_path(@default_user) %>
  </nav>
</div>

  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>

        <%= yield %>

      </div>
    </div>
  </div>
</body>
</html>
